* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x:hidden;
}

body {
  background: linear-gradient(57deg, #948ccb, #f6bedb);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#profile {
  width: 225px;
  height: 225px;
  border-radius: 47%;
  -webkit-border-radius: 47%;
  -moz-border-radius: 47%;
  -ms-border-radius: 47%;
  -o-border-radius: 47%;
  font-size: 142px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  cursor: pointer;
  text-align: center;
}